.homebanner{
width: 100%;
height: auto;
position: relative;

background-color: rgb(255, 255, 255);

display: flex;
}

.homebanner .div1{
position: relative;
width: 50%;
padding-left: 5vw;
}
.homebanner .div1 h1{
padding-top: 10vw;
font-size: 3vw;
color: rgb(2, 70, 158);
}
.homebanner .div1 h5{
font-size: 1.5vw;
font-weight: 400;
margin-top: 1%;
width: 70%;
color: rgb(2, 142, 158);
}
.homebanner .div1 p{
font-size: 1.2vw;
width: 80%;
margin-top: 2%;
color: rgb(87, 87, 87);
}

.homebanner .div1 button{
background-color: rgb(231 81 92);
border-radius: 60px;
padding: 0.5vw 3.5vw;
font-size: 1.4vw;
border: none;
margin-top: 3vw;
cursor: pointer;
font-family: 'Rajdhani', sans-serif;
transition: all 0.3s;
}


.homebanner .div2{
position: relative;
width: 50vw;
margin-top: 4vw;
height: 70vh;
}